@import "tailwindcss";

/* Color palette: #364652, #071108, #BFB1C1, #B5BEC6, #C7DBE6 #47a51f */

:root {
  --background: #ffffff;
  --foreground: #071108;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #071108;
    --foreground: #071108;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
